button {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 1.8em;
  margin: 5px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background-color: #d8d8d8;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  z-index: 10;
}
button:focus {
  outline: none;
}
button span {
  position: relative;
  z-index: 40;
}
button svg {
  z-index: 40;
}

button:before {
  content: '';
  position: absolute;
  z-index: 20;
  top: auto;
  left: auto;
  width: 5px;
  height: 5px;
  background: #ffffff80;
  opacity: 0;
  border-radius: 50%;
  transform: scale(1, 1);
}
button:focus:not(:active):before {
  -webkit-animation: animateButton 1s ease-out; /* Safari 4+ */
  -moz-animation: animateButton 1s ease-out; /* Fx 5+ */
  -o-animation: animateButton 1s ease-out; /* Opera 12+ */
  animation: animateButton 1s ease-out; /* IE 10+, Fx 29+ */
}

/* Digits */

/* Operators */
button.basic {
  color: #fff;
  background-color: #03b4d7;
  font-size: 2.2em;
  margin: 5px 0;
}
button.basic.equal {
  background-color: #fc8f36;
  height: 108px;
  border-radius: 5px;
}

/* SVG */
button.icon span {
  text-indent: -9999px;
}
button.basic.icon svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}
/* backspace */
button.basic.icon.key-backspace {
  margin: 5px;
}
button.basic.icon.key-backspace svg {
  margin: 5px;
  width: 24px;
  height: 24px;
}

@-webkit-keyframes animateButton {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(8, 8);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(15, 15);
  }
}
@-moz-keyframes animateButton {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(8, 8);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(15, 15);
  }
}
@-o-keyframes animateButton {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(8, 8);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(15, 15);
  }
}
@keyframes animateButton {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(8, 8);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(15, 15);
  }
}
